<div class="navbar-container">
    <a class="nav-title" href="/products">e-commerce 51185<a/>
     <div class="nav-btns-container">
        {{#if user}} 
        <button onClick="handleGoToCart(event)" class="navbar-link">
            <i class="fa fa-shopping-cart" style="color: white"></i> Carrito
        </button>
        {{/if}}
        <a style="padding: auto" href="/profile" class="navbar-link">
            {{#if user}} 
                Perfil
            {{else}}
                Ingresar
            {{/if}}
        </a>
    </div>
</div>

<div class="cart-container">
    <h1 class="main-title">Productos de carrito</h1>
        {{#each payload}}
            <a style="text-decoration: none; color: black" href="/products/{{this.product._id}}">
            <div class="cart-card">
                <div class="img-container">
                    <img class="img" src="{{this.product.thumbnail.[0]}}">
                </div>
                <div class="cart-product-info">
                    <h3 class="mb-0">{{this.product.title}}</h3>
                    <small>ID: {{this.product._id}} | SKU: {{this.product.code}} </small>
                    <h5 class="mt-2">${{this.product.price}}</h5>
                    <p>Cantidad: {{this.quantity}} u.</p>
                    <h5>Subtotal: ${{this.subtotal}}</h5>
                    <div class="row mt-4 mb-2 me-3">
                        <button class="btn btn-primary" onclick="handleDeleteProduct(event, '{{this.product._id}}')">Eliminar del carrito</button>
                    </div>   
                </div>
            </div>
            <a/>
        {{/each}}
    <h2 class="mt-4">Total a pagar: ${{total}}</h2>

    <div class="mt-4 container text-center">
        <a class="btn btn-primary mb-4" href="/products">Volver a productos</a>
        <button onClick="handleEmptyCart(event)" class="btn btn-secondary mb-4">Vaciar carrito</button>
        <button onClick="handlePurchase(event)" class="btn btn-danger mb-4">Finalizar compra</button>

    </div>
</div>
<script src="../js/products.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">