<div id="productsList">
    <div id="products">
    <h1>Listado de productos:</h1>
    <div class="productsList">
        {{#each payload}}
            <div class="product">
                <h2>Id: {{this.id}}</h2>
                <h2>Title: {{this.title}}</h2>
                <h2>Description: {{this.description}}</h2>
                <h2>Code: {{this.code}}</h2>
                <h2>Price: {{this.price}}</h2>
                <h2>Status: {{this.status}}</h2>
                <h2>Stock: {{this.stock}}</h2>
                <h2>Category: {{this.category}}</h2>
            </div>
        {{/each}}
        <div class="buttons-span">
            {{#if hasPrevPage}}
                <a href="/{{prevLink}}"><button class="btn btn-primary">Prev. page</button></a>
            {{else}}
                <a href="#"><button class="btn btn-secondary">Prev. page</button></a>
            {{/if}}

            {{#if hasNextPage}}
                <a href="/{{nextLink}}"><button class="btn btn-primary">Next page</button></a>
            {{else}}
                <a href="#"><button class="btn btn-secondary">Next page</button></a>
            {{/if}}
        </div>
    </div>
</div>