<div class="navbar-container">
    <a class="nav-title" href="/products">e-commerce 51185<a/>
     <div class="nav-btns-container">
        {{#if user}} 
        <button onClick="handleGoToCart(event)" class="navbar-link">
            <i class="fa fa-shopping-cart" style="color: white"></i> Carrito
        </button>
        {{/if}}
        <a style="padding: auto" href="/profile" class="navbar-link">
            {{#if user}} 
                Perfil
            {{else}}
                Ingresar
            {{/if}}
        </a>
    </div>
</div>

<div class="products-list">
    {{#each payload}}
        <div class="product-card">
            <div class="card-image-container">
                <img class="card-image" src="{{this.thumbnail.[0]}}"/>
            </div>
            <div class="card-main-info-container">
                <h5>{{this.title}}</h5>
                <h6>${{this.price}}</h6>

            </div>
            <div class="card-details-container">
                <p>Category: {{this.category}}</p>
                <p class="card-product-description">{{this.description}}</p>
            </div>
            <p class="card-footer">Id: {{this.id}} | SKU: {{this.code}} | Stock: {{this.stock}}</p>
            <button class="addToCart btn btn-primary" onclick="handleAddToCart(event,'{{this.id}}')">
                Agregar al carrito
            </button>
        </div>
    {{/each}}
</div>

<div class="btns-container">
        {{#if hasPrevPage}}
            <a href="/products{{prevLink}}"><button class="btn btn-primary">Prev. page</button></a>
        {{else}}
            <a href="#"><button class="btn btn-secondary">Prev. page</button></a>
        {{/if}}

        {{#if hasNextPage}}
        <a href="/products{{nextLink}}"><button class="btn btn-primary">Next page</button></a>
        {{else}}
        <a href="#"><button class="btn btn-secondary">Next page</button></a>
        {{/if}}
    </div>
</div>
<script src="js/products.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">